@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.header-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 25px 15px 25px;
    margin: 50px 435px 50px 435px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.salam{
    font-weight: 600;
}

.answer-require{
    border-top: 1px solid black;
    padding-top: 10px;
}

.form-nama{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.identitas-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.jenis-layanan-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.status-permohonan-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.unit-kerja-permohonan-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nomor-aktif-wa-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tanggal-mulai-kegiatan-form, .tanggal-akhir-kegiatan-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.waktu-jam{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sampai-jam{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.keterangan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 435px 50px 435px;
    padding: 25px 25px 30px 27px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form-nama label{
    padding-bottom: 10px;
}

.form-nama input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    height: 3.5vh;
}

.identitas-form label{
    padding-bottom: 10px;
}

.identitas-form input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    height: 3.5vh;
}

.jenis-layanan-form label{
    padding-bottom: 10px;
}

.jenis-layanan-form select{
    border: none;
    border: 1px solid black;
    background: none;
    height: 4vh;
    text-align: center;
}

/* .jenis-layanan-form select option{
    border-bottom: 1px solid black;
} */

.status-permohonan-form label{
    padding-bottom: 10px;
}

.status-permohonan-form select{
    border: none;
    border: 1px solid black;
    background: none;
    height: 4vh;
    text-align: center;
}

.unit-kerja-permohonan-form label{
    padding-bottom: 10px;
}

.unit-kerja-permohonan-form input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    height: 3.5vh;
}

.nomor-aktif-wa-form label{
    padding-bottom: 10px;
}

.nomor-aktif-wa-form input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    height: 3.5vh;
}

.tanggal-mulai-kegiatan-form label, 
.tanggal-akhir-kegiatan-form label{
    padding-bottom: 10px;
}

.tanggal-mulai-kegiatan-form input,
.tanggal-akhir-kegiatan-form input{
    border: none;
    border: 1px solid black;
    background: none;
    width: 17.5vh;
    height: 4vh;
    text-align: center;
}

.waktu-jam label, .sampai-jam label{
    padding-bottom: 10px;
}

.waktu-jam input, .sampai-jam input{
    border: none;
    border: 1px solid black;
    background: none;
    width: 17.5vh;
    height: 4vh;
    text-align: center;
}

/* .sampai-jam label{
    padding-bottom: 10px;
}

.sampai-jam input{
    border: none;
    border: 1px solid black;
    background: none;
    width: 17.5vh;
    height: 4vh;
    text-align: center;
} */

.keterangan label{
    padding-bottom: 10px;
}

.keterangan input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    height: 3.5vh;
}

.submit{
    position: relative;
    left: -250px;
    display: grid;
    place-content: center;
    margin: -30px 0px 50px 0px;
}

#submit{
    border: none;
    border: 1px solid blue;
    border-radius: 10px;
    width: 12vh;
    height: 5.4vh;
    background-color: orange;
    color: white;
    
}

span{
    color: red;
}